@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700&subset=vietnamese');
//@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Montserrat:300,400,500,700&subset=vietnamese');
@import "../css/bootstrap.min.css";

@charset "utf-8";
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
//.font{
//    font-family: 'Cabin Condensed', sans-serif;
//    font-family: 'Montserrat', sans-serif;
//    font-family: 'VIE-MarkOT-Medium', sans-serif;
//}
//%message{
//    border: solid 1px ;
//    text-align: center;
//    font-size: 16px;
//    padding: 20px 10px;
//}
//.demo{
//    @extend %message;
//    background: $color-blue;
//    color: $color-red;
//}
$color-blue : #050D9E;
$color-white : #fff;
$color-yellow : #FFDE17;
$color-orange : #F26522;

$font-cabin: 'Cabin Condensed',sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-VIE: 'VIE-KievitOT', sans-serif;

$magrin-0: 0;
$padding-0: 0;

%transition{
     -webkit-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
}
@font-face {
  font-family: 'VIE-KievitOT';
  src: url('../font/VIE-MarkOT-Medium.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
/* CSS Document */
.warpper{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 2em;
}
 img{
    max-width: 100%;
}
.btn{
    width: 135px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: $font-montserrat;
    padding: 0;
    border-radius: 30px;
    @extend %transition;
    .fa{
        line-height: 30px;
        margin: 0;
        padding-right: 10px;
    }
}
.btn-blue{
    background: $color-blue;   
    color: $color-yellow;
}
.btn-white{
    background: transparent;
    border-color: $color-blue;
    color: $color-blue;
    &:hover{
        @extend .btn-blue;
    }
}
.btn-white-border{
    color: $color-white;
    border-color: $color-white;
    &:hover{
        @extend .btn-yellow;
    }
}
.btn-yellow{
    background: $color-yellow;
    border-color: $color-yellow;
    color: $color-blue;
}
.text-content{
    color: $color-blue;
    font-weight: 300;
}
.text-content-02{
    font-size: 16px;
    line-height: 1.2em;
}
.note{
    line-height: 1.2em;
}
h1{
    font-size: 33px;
    font-weight: bold;
}
h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: $font-VIE;
    text-transform: uppercase;
    span{
            font-weight: normal;
        }
}
h3{
    font-size: 25px;
    font-weight: bold;
}
h4{
    font-size: 16px;
}
.banner{
    padding: 20px 0 40px;
}
header,
section,
footer,
.title-header{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &:after{
        content: "";
        position: absolute;
        width: 100%;
    }
}

form{
    label{
        color: $color-blue;
    }
    input,textarea,select{
        border-color: $color-blue !important;
        color: $color-blue !important;
    }
    input[type=radio]{
        vertical-align: sub;
    }
    div{
        span{
            color: $color-blue;
            vertical-align: baseline;
            margin-right: 10px;
        }
    }
}
::-webkit-input-placeholder {
  color: $color-blue !important;
}
::-moz-placeholder {
  color: $color-blue !important;
}
:-ms-input-placeholder {
  color: $color-blue !important;
}
:-moz-placeholder {
  color: $color-blue !important;
}
/*=============================== Start index.html ===============================*/
nav.top-menu{
    font-size: 16px;
    margin-bottom: 0;
    padding: 20px 25px;
    font-family: $font-cabin;
    background: $color-white;
    border: none;
    position: relative;
    .top-logo{
        position: absolute;
        z-index: 99;
        top: 0;
        left: 35px;
        background: $color-blue;
        padding: 80px 15px 30px;
        box-shadow: 2px 1px 10px #231F21;
    }
    .nav{
        li{
            margin-left: 15px;
            a{
                @extend %transition;
                color: $color-blue;
                margin: 0;
                padding: 0 15px;
                height: 35px;
                line-height: 35px;
                border-radius: 35px;
                &:hover{
                    color: $color-yellow;
                    background: $color-blue;
                }
            }
        }
    }
}

header.top-header{
    .top-banner{      
    }
    .title-header{
        background: $color-blue url(../images/header-bg-01.png) no-repeat 35px center;
        padding: 65px 0;
        &:before{
            width: calc(100% - 35px);
            top: 0;
            background: transparent url(../images/header-bg-02.png) no-repeat right center  ;
        }
        h1{
            margin: 0;
            position: relative;
            z-index: 2;
            color: $color-white;
            text-align: center;
        }
    }
}

.wel-come{
    background: transparent url(../images/wel-come-bg-01.png) no-repeat left 210px;
    z-index: 2;
    padding-bottom: 115px;
    &:before{
        background: transparent url(../images/wel-come-bg-02.png) no-repeat left bottom;
        height: calc(100% - 130px);
        z-index: -1;
    }
    &:after{
        top: 0;
        height: 100%;
        background: transparent url(../images/wel-come-bg-03.png) no-repeat right 500px;
        z-index: -1;
    }
    h2{
        color: $color-blue;
        text-align: center;
    }
    .text-content{
        text-align:center; 
    }
    .btn{
        margin: 30px 5px 70px;
    }
    .wel-come-more{
        color: $color-white;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 30px;
            right: 35px;
        }
        &:nth-child(1):before{
            width: 40px;
            height: 33px;
            background: url(../images/icon-wel-more-01.png) no-repeat;
        }
        &:nth-child(2):before{
            width: 31px;
            height: 34px;
            background: url(../images/icon-wel-more-02.png) no-repeat;
        }
        &:nth-child(3):before{
            width: 36px;
            height: 35px;
            background: url(../images/icon-wel-more-03.png) no-repeat;
        }
        .box{
            background: $color-blue;
            border-radius: 15px;
            div{
                padding: 30px;
                h2{
                    font-family: $font-cabin;
                    color: $color-white;
                    text-align: left;
                    margin-top: -10px;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }
                .btn{
                    margin: 10px 0 0;
                    position: relative;
                    z-index: 2;                 
                }
            }
            img{
                width: 100%;
                margin-top: -50px;
            }
        }
    }
}

.amazinng{
    background: #27AAE1 url(../images/amazinng-bg-01.png) no-repeat 50px bottom;
    padding: 70px 0;
    &:before{
        width: 746px;
        height: 604px;
        background:  url(../images/amazinng-bg-02.png) no-repeat ;
        bottom: 0;
        right: 6%;
    }
    .container{
        position: relative;
        z-index: 2;
    }
    h2{
        color: $color-yellow;
        margin-bottom: 15px;
    }
    h4{
        color: $color-yellow;
        margin-bottom: 30px;
    }
    .btn{
        margin-top: 60px;
    }
}

.gift{
    background: $color-yellow url(../images/gift-bg-01.png) no-repeat left bottom ;
    text-align: right;
    padding: 35px 0 60px;
    &:before{
        left: 0;
        top: 0;
        background: url(../images/gift-bg-02.png) no-repeat right bottom;
    }
    h4{
        color: $color-blue;
        margin-top: 60px;
    }
    h3{
        color: $color-blue;
        margin-bottom: 30px;
    }
    .btn{
        margin-top: 60px;
    }
}

.feeling{
    padding: 70px 0;
    text-align: center;
    background: #F7941E url(../images/feeling-bg-01.png) no-repeat left 160px ;
    &:before{
        left: 0;
        top: 0;
        background: url(../images/feeling-bg-02.png) no-repeat right 300px;
        z-index: 1;
    }
    h2{
        color: $color-yellow;
        font-size: 30px;
    }
    .box{
        width: 1000px;
        margin: auto;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-content: space-between;
        -webkit-align-content: space-between;
        position: relative;
        z-index: 2;
        .box-item-left{
            img{
                width: 600px;
                height: 350px;
                overflow: hidden;
                border-radius: 15px;
                border: 8px solid $color-yellow;
                margin-right: 10px;
            }
        }
        .box-item-right{
            margin-left: 10px;
            .box-item-child:not(:last-child){          
                margin-bottom: 12px;
                padding-bottom: 12px;
                border-bottom: 2px solid $color-orange;
            }
            .box-item-child{
                display: -webkit-flex;
                display: flex;
                .box-child-img{
                    img{
                        width: 130px;
                        height: 100px;
                        border-radius: 10px;
                        border: 3px solid $color-yellow;
                        overflow: hidden;
                    }
                }
                .text-content{
                    width: 245px;
                    margin-left: 15px;
                    margin-top: 5px;
                    p{
                        font-weight: 300;
                        line-height: 1.4em;
                        color: $color-white;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.register{
    text-align: center;
    background: url(../images/register-bg.png) no-repeat;
    background-size: cover;
    padding: 90px 0 35px;
    h2{
        color: $color-white;
    }
    form{
        .form-group{
                margin-bottom: 25px;
            }
        .row{
            .col-md-5{
                span{
                    color: $color-white;
                }
            }
        }
    }
}

footer{
    text-align: center;
    color: $color-white;
    background: $color-blue url(../images/footer-bg-01.png) no-repeat 1.9% center;
    &:before{
        width: 157px;
        height: 104px;
        background: url(../images/footer-bg-02.png) no-repeat;
        top: 40px;
        right: 1.5%;
    }
    &:after{
        height: 0;
    }
    padding: 40px 0 30px;
    .container{
        position: relative;
        z-index: 2;
    }
    .list-unstyled{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-white;
        li{
            margin: 0 10px;
            a{
                color: $color-white;
            }
        }
    }
}
/*=============================== End index.html ===============================*/

/*=============================== Start contact.html ===============================*/
.contact{
    color: $color-blue;
    padding-bottom: 100px;
    background: $color-yellow url(../images/contact-bg-01.png) no-repeat left bottom;
    &:before{
        background: url(../images/contact-bg-02.png) no-repeat right bottom;
        right: 0;
        bottom: 0;
    }
    h2{
        text-align: center;
        color: $color-blue;
        margin-bottom: 70px;
    }
    .gift-pack{
        .title{
            margin-bottom: 40px;
        }
        div{
            margin-bottom: 30px;
            h4{
                margin-top: -10px;
                margin-bottom: 30px;
            }
            .btn{
                margin-top: 10px;
            }
        }
    }
    .contact-register{
        background: $color-white;
        color: $color-blue;
        border-radius: 25px;
        border: 1px solid #D1D2D4;
        padding: 35px 30px 20px;
        box-shadow: 5px 5px 15px #37343E;
        .btn{
            margin-top: 5px;
        }
    }
}
.footer-orange{
    background: #F7941E url(../images/footer-orange-bg-01.png) no-repeat 7% center;
    &:before{
        background: url(../images/footer-orange-bg-02.png);
    }
}
/*=============================== End contact.html ===============================*/

/*=============================== Start amazing.html (Amazinng Race) ===============================*/
.amazinng-page-header{
    background: #27aae1 url(../images/amazing-page-bg-01.png) no-repeat 60px bottom ;
    color: $color-yellow;
    padding: 100px 0 130px;
    z-index: 2;
    &:before{
        z-index: -1;
        bottom: 0;
        background: url(../images/amazinng-bg-02.png) no-repeat right top;
    }
    h2{
        margin-bottom: 20px;
    }
    .btn{
        margin-top: 40px;
    }
}

.amazinng-page{
    text-align: center;
    color: $color-blue;
    padding-bottom: 90px;
    background: url(../images/amazing-page-bg-02.png) no-repeat left bottom;
    &:before{
        background: url(../images/amazing-page-bg-03.png) no-repeat right bottom;
        left: 0;
    }
    .amazinng-page-box{
        text-align: left;
        margin-top: 40px;
        .box-text{
            padding: 0;
            p{
                margin-bottom: 5px;
                line-height: 1.3em;
            }
        }
    }
}

.rules{
    text-align: center;
    color: $color-blue;
    padding: 30px 0;
    background: #27A9E1 url(../images/rules-bg-01.png) no-repeat 140px bottom;
    &:before{
        background: url(../images/rules-bg-02.png) no-repeat right bottom;
        width: calc(100% - 170px);
        left: 0;
        top: 0;
    }
    .btn{
        margin-top: 20px;
    }
}

.ILA-footer{
    padding: 20px 0 40px;
    color: $color-white;
    background: $color-yellow url(../images/ILA-footer-bg-01.png) no-repeat left bottom;
    &:before{
        background: url(../images/ILA-footer-bg-03.png) no-repeat right bottom;
    }
    &:after{
        background: url(../images/ILA-footer-bg-02.png) no-repeat 120px 55px;
        width: 100%;
        height: 100%;
        top: 0;
    }
    h2{
        text-align: center;
        color: $color-blue;    
        z-index: 2;
        position: relative;
    }
    div{
        .ILA-footer-item{
            z-index: 1;
            &:nth-child(2){
                color: $color-blue;
                .box{
                    background: #FFEE00;
                }
            }
            &:nth-child(3){
                .box{
                    background: rgba(253,188,37,1);
                    background: -moz-radial-gradient(center, ellipse cover, rgba(253,188,37,1) 0%, rgba(247,147,32,1) 70%, rgba(246,138,31,1) 100%);
                    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(253,188,37,1)), color-stop(70%, rgba(247,147,32,1)), color-stop(100%, rgba(246,138,31,1)));
                    background: -webkit-radial-gradient(center, ellipse cover, rgba(253,188,37,1) 0%, rgba(247,147,32,1) 70%, rgba(246,138,31,1) 100%);
                    background: -o-radial-gradient(center, ellipse cover, rgba(253,188,37,1) 0%, rgba(247,147,32,1) 70%, rgba(246,138,31,1) 100%);
                    background: -ms-radial-gradient(center, ellipse cover, rgba(253,188,37,1) 0%, rgba(247,147,32,1) 70%, rgba(246,138,31,1) 100%);
                    background: radial-gradient(ellipse at center, rgba(253,188,37,1) 0%, rgba(247,147,32,1) 70%, rgba(246,138,31,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbc25', endColorstr='#f68a1f', GradientType=1 );
                }
            }
            .box{
                background: #00A14B;
                border-radius: 10px;
                min-height: 235px;
                position: relative;
                overflow: hidden;
                div{
                    padding: 15px 10px;
                    width: 63%;
                    position: relative;
                    h3{
                        margin:10px 0 5px;
                        font-family: $font-cabin;
                    }
                    p{
                        line-height: 1.2em;
                    }
                }
                .btn{
                        position: absolute;
                        z-index: 3;
                        bottom: 25px;
                        left: 10px;
                        &:hover{
                            border-color: $color-blue;
                            @extend .btn-blue;
                        }
                    }
                .img-margin{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}
/*=============================== End amazing.html (Amazinng Race) ===============================*/

/*=============================== Start amazing-summer.html ===============================*/
$color-green : #00A14B;

.rps-table th {
    display: none;
}
.rps-table td {
    display: block;
}
.rps-table td:before{
    content: attr(data-th) " ";
    display: inline-block;
}
/*
.rps-table td:first-child {
    padding-top: .5em;
}
.rps-table td:last-child {
    padding-bottom: .5em;
}
*/

@media (min-width: 768px) {
    .rps-table td:before {
        display: none;
    }
    .rps-table th,
    .rps-table td {
        display: table-cell;
    }
}
.flex-items-end{
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.amazinng-summer-top{
    color: $color-blue;
    text-align: center;
    background: url(../images/amazinng-summer/amazing-summer-bg-01.png) no-repeat left 230px;
    &:before{
        background: url(../images/amazinng-summer/amazing-summer-bg-02.png) no-repeat right 300px;
        left: 0;
    }
    .btn{
        margin: 25px 0 50px;
    }
}

.six-skill{
    background: $color-green url(../images/amazinng-summer/six-skill-ng-01.png) no-repeat 35px center;
    padding-top: 30px;
    color: $color-white;
    &:before{
        background: url(../images/amazinng-summer/six-skill-ng-02.png) no-repeat right center;
        right: 35px;
        top: 0;
    }
    div{
         position: relative;
         z-index: 2;
         h2{
            text-transform: none;
            color: $color-yellow;
        }
        .btn{
            margin: 20px 0 40px;
        }
    }
}

.kiddom{
    padding-top:40px;
    text-align: right;
    background: $color-yellow url(../images/amazinng-summer/ILA-footer-bg-02.png) no-repeat 70px 70px;
    &:before{
        background: url(../images/amazinng-summer/ILA-footer-bg-01.png) no-repeat left bottom;
        top: 0;
        left: 0
    }
    &:after{
        background: url(../images/amazinng-summer/ILA-footer-bg-03.png) no-repeat right bottom;
        height: 100%;
        top: 0;
        left: 0;
    }
    div{
        position: relative;
        z-index: 2;
        h2{
            text-transform: none;
            color: $color-blue;
        }
        table.happy-kiddom{
            width: 100%;
            tr{
                font-weight: bold;
                line-height: 1.2em;
                th,  td{
                    text-align: center;
                    width: 20%;
                    padding: 15px 10px;
                    color: $color-white;
                    &:not(:first-child){
                        border: 1px solid $color-white;
                        color: $color-yellow
                    }
                    &:first-child{
                        width: 40%;
                        background: $color-blue;
                        border: 1px solid #E6E7E8;
                    }
                    &:nth-child(2){
                        background: #27A9E1
                    }
                    &:nth-child(3){
                        background: #F16521
                    }
                    &:last-child{
                        background: #00A14B;
                    }
                }
                td{
                    color: $color-blue;
                    background: $color-white;
                    &:first-child{
                        background: $color-white;
                        border: 1px solid #E6E7E8;
                    }
                }
            }
        }
        .btn{
            margin: 30px 0;
        }
    }
}

.adventures{
    padding-top: 40px;
    color: $color-white;
    background: #F7941E url(../images/amazinng-summer/adventures-bg-01.png) no-repeat left center;
    &:before{
        background: url(../images/amazinng-summer/adventures-bg-02.png) no-repeat right bottom;
        left: 0;
        bottom: 40px;
    }
    &:after{
        
    }
    div{
        position: relative;
        z-index: 2;
        h2{
            text-transform: none;
        }
        p{
            margin-bottom: 0;
        }
        .btn{
            margin: 80px 0 30px;
        }
    }
}

footer.cyan{
    background-color: #27A9E1;
}
/*=============================== End amazing-summer.html ===============================*/
@media only screen and (max-width: 1050px){
    /*=========== Start index.html ===========*/
    nav.top-menu{
        .nav{
            li{
                margin-left: 5px;
                a{
                    padding: 0 5px;
                }
            }
        }
    }
    
    .feeling{
        .box{
            display: block;
            width: 100%;
            padding: 0 15px;
            .box-item-left{
                margin-bottom: 1em;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .box-item-right{
                margin-left: 0;
                .box-item-child{
                    .box-child-img{
                        width: 300px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .text-content{
                        width: auto;
                    }
                }
            }
        }
    }
    /*=========== End index.html ===========*/
}

@media only screen and (max-width: 768px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 25px;
    }
    /*=========== Start index.html ===========*/
    nav.top-menu{
        background: $color-yellow;
        padding: 0;
        .navbar-header{
            button.navbar-toggle{
                background: $color-blue;
                .icon-bar{
                    background: $color-yellow;
                }
            }
        }
        .top-logo{
            padding: 15px 5px;
            width: 4em;
        }
    }
    
    header.top-header{
        .title-header{
            padding: 15px 0;
        }
    }
    
    .wel-come{
        padding-bottom: 0;
        .wel-come-more{
            margin-bottom: 1em;
            .box{
                border-radius: 25px;
                overflow: hidden;
            }
        }
        .btn{
            margin: 20px 5px 50px;
        }
    } 
    
    .amazinng{
        padding: 40px 0;
    }
    
    .gift{
        text-align: center;
    }
    
    .feeling{
        padding: 40px 0;
        .box{
            display: block;
            .box-item-right{
                margin-left: 0;
            }
        }
    }
    
    .register{
        padding: 30px 0;
        form {
            .form-group{
                margin-bottom: 0;
                margin-top: 0;
                input, select{
                    margin-bottom: 15px;
                }
            }
        }
    }
    /*=========== End index.html ===========*/
    /*=========== Start contact.html ===========*/
    .contact{
        .gift-pack{
            text-align: center;
        }
    }
    /*=========== End contact.html ===========*/
    /*=========== Start amazinng.html (Amazinng Race) ===========*/
    .amazinng-page-header{
        div{
            text-align: center;
        }
    }
    
    .amazinng-page{
        .amazinng-page-box{
            text-align: center;
            >div:not(:last-child){
                margin-bottom: 2em;
            }
            
        }
    } 
    
    .ILA-footer{
        div{
            .ILA-footer-item{
                margin-bottom: 1em;
            }
         }
    }
    /*=========== End amazinng.html (Amazinng Race) ===========*/
    /*=========== Start amazinng-summer.html ===========*/
    .six-skill, .kiddom, .adventures{
        text-align: center;
        .flex-items-end{
            display: block;
        }
    }
    
    .kiddom{
        .flex-items-end{
            div{
                &:first-child{
                    display: none;
                }
                table.happy-kiddom{
                    tr{
                        margin-bottom: 1em;
                        th,td{
                            width: 100%;
                            text-align: left;
                        }
                        td{
                            border-bottom: none;
                            &:before{
                                text-align: left;
                                width: 120px;
                            }
                            &:first-child{
                                text-align: center;
                                margin-top: 2em;
                                &:before{
                                    width: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .adventures{
        div{
            .btn{
                margin-top: 20px;
            }
        }
    }
    /*=========== End amazinng-summer.html ===========*/
}
@media only screen and (max-width: 480px){
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 25px;
    }
    .xs-hidden{
        display: none;
    }
    .text-content{
        text-align: justify;
    }
    .btn{
        width: 100%;
    }
     /*=========== Start index.html ===========*/
    nav.top-menu{
        .top-logo{
            padding: 5px;
            left: 15px;
        }
    } 
    .wel-come{
        .btn{
            margin: 15px 0;
            &:last-child{
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
        .wel-come-more{
            &:before{
                top: 20px;
            }
            .box{
                border-radius: 15px;
                div{
   
                }
            }
        }
    }
    .feeling{
        padding: 10px 0 20px;
    }
     /*=========== End index.html ===========*/
     /*=========== Start contact.html ===========*/
    .contact{
        .contact-register{
            padding: 15px;
            border-radius: 15px;
        }
    }
     /*=========== End contact.html ===========*/
    /*=========== Start amazinng.html (Amazinng Race) ===========*/
    .ILA-footer{
        div{
            .ILA-footer-item{
                .box{
                    .btn{
                        width: 135px;
                    }
                }
            } 
        } 
    }
    /*=========== End amazinng.html (Amazinng Race) ===========*/
    /*=========== Start amazinng-summer.html ===========*/
    .amazinng-summer-top{
        div{
            center{
                .btn{
                    &:first-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    /*=========== End amazinng-summer.html ===========*/
}