@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700&subset=vietnamese");
@import url(../css/bootstrap.min.css);
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.btn, nav.top-menu .nav li a, .slider-text, .testimonial-top .box-slider .box-slider-bottom .box-slider-items:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

@font-face {
  font-family: 'VIE-KievitOT';
  src: url("../font/VIE-MarkOT-Medium.otf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

/* CSS Document */
.warpper {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 2em; }

img {
  max-width: 100%; }

.btn {
  width: 135px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  border-radius: 30px; }
  .btn .fa {
    line-height: 30px;
    margin: 0;
    padding-right: 10px; }

.btn-blue, .btn-white:hover, .ILA-footer div .ILA-footer-item .box .btn:hover {
  background: #050D9E;
  color: #FFDE17; }

.btn-white {
  background: transparent;
  border-color: #050D9E;
  color: #050D9E; }

.btn-white-border {
  color: #fff;
  border-color: #fff; }

.btn-yellow, .btn-white-border:hover {
  background: #FFDE17;
  border-color: #FFDE17;
  color: #050D9E; }

.text-content {
  color: #050D9E;
  font-weight: 300; }

.text-content-02 {
  font-size: 16px;
  line-height: 1.2em; }

.note {
  line-height: 1.2em; }

h1 {
  font-size: 33px;
  font-weight: bold; }

h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "VIE-KievitOT", sans-serif;
  text-transform: uppercase; }
  h2 span {
    font-weight: normal; }

h3 {
  font-size: 25px;
  font-weight: bold; }

h4 {
  font-size: 16px; }

.banner {
  padding: 20px 0 40px; }

header,
section,
footer,
.title-header {
  position: relative; }
  header:before,
  section:before,
  footer:before,
  .title-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; }
  header:after,
  section:after,
  footer:after,
  .title-header:after {
    content: "";
    position: absolute;
    width: 100%; }

form label {
  color: #050D9E; }

form input, form textarea, form select {
  border-color: #050D9E !important;
  color: #050D9E !important; }

form input[type=radio] {
  vertical-align: sub; }

form div span {
  color: #050D9E;
  vertical-align: baseline;
  margin-right: 10px; }

::-webkit-input-placeholder {
  color: #050D9E !important; }

::-moz-placeholder {
  color: #050D9E !important; }

:-ms-input-placeholder {
  color: #050D9E !important; }

:-moz-placeholder {
  color: #050D9E !important; }

/*=============================== Start index.html ===============================*/
nav.top-menu {
  font-size: 16px;
  margin-bottom: 0;
  padding: 20px 25px;
  font-family: "Cabin Condensed", sans-serif;
  background: #fff;
  border: none;
  position: relative; }
  nav.top-menu .top-logo {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 35px;
    background: #050D9E;
    padding: 80px 15px 30px;
    box-shadow: 2px 1px 10px #231F21; }
  nav.top-menu .nav li {
    margin-left: 15px; }
    nav.top-menu .nav li a {
      color: #050D9E;
      margin: 0;
      padding: 0 15px;
      height: 35px;
      line-height: 35px;
      border-radius: 35px; }
      nav.top-menu .nav li a:hover {
        color: #FFDE17;
        background: #050D9E; }

header.top-header .title-header {
  background: #050D9E url(../images/header-bg-01.png) no-repeat 35px center;
  padding: 65px 0; }
  header.top-header .title-header:before {
    width: calc(100% - 35px);
    top: 0;
    background: transparent url(../images/header-bg-02.png) no-repeat right center; }
  header.top-header .title-header h1 {
    margin: 0;
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center; }

.wel-come {
  background: transparent url(../images/wel-come-bg-01.png) no-repeat left 210px;
  z-index: 2;
  padding-bottom: 115px; }
  .wel-come:before {
    background: transparent url(../images/wel-come-bg-02.png) no-repeat left bottom;
    height: calc(100% - 130px);
    z-index: -1; }
  .wel-come:after {
    top: 0;
    height: 100%;
    background: transparent url(../images/wel-come-bg-03.png) no-repeat right 500px;
    z-index: -1; }
  .wel-come h2 {
    color: #050D9E;
    text-align: center; }
  .wel-come .text-content {
    text-align: center; }
  .wel-come .btn {
    margin: 30px 5px 70px; }
  .wel-come .wel-come-more {
    color: #fff;
    position: relative; }
    .wel-come .wel-come-more:before {
      content: '';
      position: absolute;
      top: 30px;
      right: 35px; }
    .wel-come .wel-come-more:nth-child(1):before {
      width: 40px;
      height: 33px;
      background: url(../images/icon-wel-more-01.png) no-repeat; }
    .wel-come .wel-come-more:nth-child(2):before {
      width: 31px;
      height: 34px;
      background: url(../images/icon-wel-more-02.png) no-repeat; }
    .wel-come .wel-come-more:nth-child(3):before {
      width: 36px;
      height: 35px;
      background: url(../images/icon-wel-more-03.png) no-repeat; }
    .wel-come .wel-come-more .box {
      background: #050D9E;
      border-radius: 15px; }
      .wel-come .wel-come-more .box div {
        padding: 30px; }
        .wel-come .wel-come-more .box div h2 {
          font-family: "Cabin Condensed", sans-serif;
          color: #fff;
          text-align: left;
          margin-top: -10px;
          margin-bottom: 10px;
          text-transform: capitalize; }
        .wel-come .wel-come-more .box div .btn {
          margin: 10px 0 0;
          position: relative;
          z-index: 2; }
      .wel-come .wel-come-more .box img {
        width: 100%;
        margin-top: -50px; }

.amazinng {
  background: #27AAE1 url(../images/amazinng-bg-01.png) no-repeat 50px bottom;
  padding: 70px 0; }
  .amazinng:before {
    width: 746px;
    height: 604px;
    background: url(../images/amazinng-bg-02.png) no-repeat;
    bottom: 0;
    right: 6%; }
  .amazinng .container {
    position: relative;
    z-index: 2; }
  .amazinng h2 {
    color: #FFDE17;
    margin-bottom: 15px; }
  .amazinng h4 {
    color: #FFDE17;
    margin-bottom: 30px; }
  .amazinng .btn {
    margin-top: 60px; }

.gift {
  background: #FFDE17 url(../images/gift-bg-01.png) no-repeat left bottom;
  text-align: right;
  padding: 35px 0 60px; }
  .gift:before {
    left: 0;
    top: 0;
    background: url(../images/gift-bg-02.png) no-repeat right bottom; }
  .gift h4 {
    color: #050D9E;
    margin-top: 60px; }
  .gift h3 {
    color: #050D9E;
    margin-bottom: 30px; }
  .gift .btn {
    margin-top: 60px; }

.feeling {
  padding: 70px 0;
  text-align: center;
  background: #F7941E url(../images/feeling-bg-01.png) no-repeat left 160px; }
  .feeling:before {
    left: 0;
    top: 0;
    background: url(../images/feeling-bg-02.png) no-repeat right 300px;
    z-index: 1; }
  .feeling h2 {
    color: #FFDE17;
    font-size: 30px; }
  .feeling .box {
    width: 1000px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-content: space-between;
    -webkit-align-content: space-between;
    position: relative;
    z-index: 2; }
    .feeling .box .box-item-left img {
      width: 600px;
      height: 350px;
      overflow: hidden;
      border-radius: 15px;
      border: 8px solid #FFDE17;
      margin-right: 10px; }
    .feeling .box .box-item-right {
      margin-left: 10px; }
      .feeling .box .box-item-right .box-item-child:not(:last-child) {
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 2px solid #F26522; }
      .feeling .box .box-item-right .box-item-child {
        display: -webkit-flex;
        display: flex; }
        .feeling .box .box-item-right .box-item-child .box-child-img img {
          width: 130px;
          height: 100px;
          border-radius: 10px;
          border: 3px solid #FFDE17;
          overflow: hidden; }
        .feeling .box .box-item-right .box-item-child .text-content {
          width: 245px;
          margin-left: 15px;
          margin-top: 5px; }
          .feeling .box .box-item-right .box-item-child .text-content p {
            font-weight: 300;
            line-height: 1.4em;
            color: #fff;
            text-align: left; }

.register {
  text-align: center;
  background: url(../images/register-bg.png) no-repeat;
  background-size: cover;
  padding: 90px 0 35px; }
  .register h2 {
    color: #fff; }
  .register form .form-group {
    margin-bottom: 25px; }
  .register form .row .col-md-5 span {
    color: #fff; }

footer {
  text-align: center;
  color: #fff;
  background: #050D9E url(../images/footer-bg-01.png) no-repeat 1.9% center;
  padding: 40px 0 30px; }
  footer:before {
    width: 157px;
    height: 104px;
    background: url(../images/footer-bg-02.png) no-repeat;
    top: 40px;
    right: 1.5%; }
  footer:after {
    height: 0; }
  footer .container {
    position: relative;
    z-index: 2; }
  footer .list-unstyled {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff; }
    footer .list-unstyled li {
      margin: 0 10px; }
      footer .list-unstyled li a {
        color: #fff; }

/*=============================== End index.html ===============================*/
/*=============================== Start contact.html ===============================*/
.contact {
  color: #050D9E;
  padding-bottom: 100px;
  background: #FFDE17 url(../images/contact-bg-01.png) no-repeat left bottom; }
  .contact:before {
    background: url(../images/contact-bg-02.png) no-repeat right bottom;
    right: 0;
    bottom: 0; }
  .contact h2 {
    text-align: center;
    color: #050D9E;
    margin-bottom: 70px; }
  .contact .gift-pack .title {
    margin-bottom: 40px; }
  .contact .gift-pack div {
    margin-bottom: 30px; }
    .contact .gift-pack div h4 {
      margin-top: -10px;
      margin-bottom: 30px; }
    .contact .gift-pack div .btn {
      margin-top: 10px; }
  .contact .contact-register {
    background: #fff;
    color: #050D9E;
    border-radius: 25px;
    border: 1px solid #D1D2D4;
    padding: 35px 30px 20px;
    box-shadow: 5px 5px 15px #37343E; }
    .contact .contact-register .btn {
      margin-top: 5px; }

.footer-orange {
  background: #F7941E url(../images/footer-orange-bg-01.png) no-repeat 7% center; }
  .footer-orange:before {
    background: url(../images/footer-orange-bg-02.png); }

/*=============================== End contact.html ===============================*/
/*=============================== Start amazing.html (Amazinng Race) ===============================*/
.amazinng-page-header {
  background: #27aae1 url(../images/amazing-page-bg-01.png) no-repeat 60px bottom;
  color: #FFDE17;
  padding: 100px 0 130px;
  z-index: 2; }
  .amazinng-page-header:before {
    z-index: -1;
    bottom: 0;
    background: url(../images/amazinng-bg-02.png) no-repeat right top; }
  .amazinng-page-header h2 {
    margin-bottom: 20px; }
  .amazinng-page-header .btn {
    margin-top: 40px; }

.amazinng-page {
  text-align: center;
  color: #050D9E;
  padding-bottom: 90px;
  background: url(../images/amazing-page-bg-02.png) no-repeat left bottom; }
  .amazinng-page:before {
    background: url(../images/amazing-page-bg-03.png) no-repeat right bottom;
    left: 0; }
  .amazinng-page .amazinng-page-box {
    text-align: left;
    margin-top: 40px; }
    .amazinng-page .amazinng-page-box .box-text {
      padding: 0; }
      .amazinng-page .amazinng-page-box .box-text p {
        margin-bottom: 5px;
        line-height: 1.3em; }

.rules {
  text-align: center;
  color: #050D9E;
  padding: 30px 0;
  background: #27A9E1 url(../images/rules-bg-01.png) no-repeat 140px bottom; }
  .rules:before {
    background: url(../images/rules-bg-02.png) no-repeat right bottom;
    width: calc(100% - 170px);
    left: 0;
    top: 0; }
  .rules .btn {
    margin-top: 20px; }

.ILA-footer {
  padding: 20px 0 40px;
  color: #fff;
  background: #FFDE17 url(../images/ILA-footer-bg-01.png) no-repeat left bottom; }
  .ILA-footer:before {
    background: url(../images/ILA-footer-bg-03.png) no-repeat right bottom; }
  .ILA-footer:after {
    background: url(../images/ILA-footer-bg-02.png) no-repeat 120px 55px;
    width: 100%;
    height: 100%;
    top: 0; }
  .ILA-footer h2 {
    text-align: center;
    color: #050D9E;
    z-index: 2;
    position: relative; }
  .ILA-footer div .ILA-footer-item {
    z-index: 1; }
    .ILA-footer div .ILA-footer-item:nth-child(2) {
      color: #050D9E; }
      .ILA-footer div .ILA-footer-item:nth-child(2) .box {
        background: #FFEE00; }
    .ILA-footer div .ILA-footer-item:nth-child(3) .box {
      background: #fdbc25;
      background: -moz-radial-gradient(center, ellipse cover, #fdbc25 0%, #f79320 70%, #f68a1f 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fdbc25), color-stop(70%, #f79320), color-stop(100%, #f68a1f));
      background: -webkit-radial-gradient(center, ellipse cover, #fdbc25 0%, #f79320 70%, #f68a1f 100%);
      background: -o-radial-gradient(center, ellipse cover, #fdbc25 0%, #f79320 70%, #f68a1f 100%);
      background: -ms-radial-gradient(center, ellipse cover, #fdbc25 0%, #f79320 70%, #f68a1f 100%);
      background: radial-gradient(ellipse at center, #fdbc25 0%, #f79320 70%, #f68a1f 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbc25', endColorstr='#f68a1f', GradientType=1 ); }
    .ILA-footer div .ILA-footer-item .box {
      background: #00A14B;
      border-radius: 10px;
      min-height: 235px;
      position: relative;
      overflow: hidden; }
      .ILA-footer div .ILA-footer-item .box div {
        padding: 15px 10px;
        width: 63%;
        position: relative; }
        .ILA-footer div .ILA-footer-item .box div h3 {
          margin: 10px 0 5px;
          font-family: "Cabin Condensed", sans-serif; }
        .ILA-footer div .ILA-footer-item .box div p {
          line-height: 1.2em; }
      .ILA-footer div .ILA-footer-item .box .btn {
        position: absolute;
        z-index: 3;
        bottom: 25px;
        left: 10px; }
        .ILA-footer div .ILA-footer-item .box .btn:hover {
          border-color: #050D9E; }
      .ILA-footer div .ILA-footer-item .box .img-margin {
        position: absolute;
        bottom: 0;
        right: 0; }

/*=============================== End amazing.html (Amazinng Race) ===============================*/
/*=============================== Start amazing-summer.html ===============================*/
.rps-table th {
  display: none; }

.rps-table td {
  display: block; }

.rps-table td:before {
  content: attr(data-th) " ";
  display: inline-block; }

/*
.rps-table td:first-child {
    padding-top: .5em;
}
.rps-table td:last-child {
    padding-bottom: .5em;
}
*/
@media (min-width: 768px) {
  .rps-table td:before {
    display: none; }
  .rps-table th,
  .rps-table td {
    display: table-cell; } }

.flex-items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end; }

.amazinng-summer-top {
  color: #050D9E;
  text-align: center;
  background: url(../images/amazinng-summer/amazing-summer-bg-01.png) no-repeat left 230px; }
  .amazinng-summer-top:before {
    background: url(../images/amazinng-summer/amazing-summer-bg-02.png) no-repeat right 300px;
    left: 0; }
  .amazinng-summer-top .btn {
    margin: 25px 0 50px; }

.six-skill {
  background: #00A14B url(../images/amazinng-summer/six-skill-ng-01.png) no-repeat 35px center;
  padding-top: 30px;
  color: #fff; }
  .six-skill:before {
    background: url(../images/amazinng-summer/six-skill-ng-02.png) no-repeat right center;
    right: 35px;
    top: 0; }
  .six-skill div {
    position: relative;
    z-index: 2; }
    .six-skill div h2 {
      text-transform: none;
      color: #FFDE17; }
    .six-skill div .btn {
      margin: 20px 0 40px; }

.kiddom {
  padding-top: 40px;
  text-align: right;
  background: #FFDE17 url(../images/amazinng-summer/ILA-footer-bg-02.png) no-repeat 70px 70px; }
  .kiddom:before {
    background: url(../images/amazinng-summer/ILA-footer-bg-01.png) no-repeat left bottom;
    top: 0;
    left: 0; }
  .kiddom:after {
    background: url(../images/amazinng-summer/ILA-footer-bg-03.png) no-repeat right bottom;
    height: 100%;
    top: 0;
    left: 0; }
  .kiddom div {
    position: relative;
    z-index: 2; }
    .kiddom div h2 {
      text-transform: none;
      color: #050D9E; }
    .kiddom div table.happy-kiddom {
      width: 100%; }
      .kiddom div table.happy-kiddom tr {
        font-weight: bold;
        line-height: 1.2em; }
        .kiddom div table.happy-kiddom tr th, .kiddom div table.happy-kiddom tr td {
          text-align: center;
          width: 20%;
          padding: 15px 10px;
          color: #fff; }
          .kiddom div table.happy-kiddom tr th:not(:first-child), .kiddom div table.happy-kiddom tr td:not(:first-child) {
            border: 1px solid #fff;
            color: #FFDE17; }
          .kiddom div table.happy-kiddom tr th:first-child, .kiddom div table.happy-kiddom tr td:first-child {
            width: 40%;
            background: #050D9E;
            border: 1px solid #E6E7E8; }
          .kiddom div table.happy-kiddom tr th:nth-child(2), .kiddom div table.happy-kiddom tr td:nth-child(2) {
            background: #27A9E1; }
          .kiddom div table.happy-kiddom tr th:nth-child(3), .kiddom div table.happy-kiddom tr td:nth-child(3) {
            background: #F16521; }
          .kiddom div table.happy-kiddom tr th:last-child, .kiddom div table.happy-kiddom tr td:last-child {
            background: #00A14B; }
        .kiddom div table.happy-kiddom tr td {
          color: #050D9E;
          background: #fff; }
          .kiddom div table.happy-kiddom tr td:first-child {
            background: #fff;
            border: 1px solid #E6E7E8; }
    .kiddom div .btn {
      margin: 30px 0; }

.adventures {
  padding-top: 40px;
  color: #fff;
  background: #F7941E url(../images/amazinng-summer/adventures-bg-01.png) no-repeat left center; }
  .adventures:before {
    background: url(../images/amazinng-summer/adventures-bg-02.png) no-repeat right bottom;
    left: 0;
    bottom: 40px; }
  .adventures div {
    position: relative;
    z-index: 2; }
    .adventures div h2 {
      text-transform: none; }
    .adventures div p {
      margin-bottom: 0; }
    .adventures div .btn {
      margin: 80px 0 30px; }

footer.cyan {
  background-color: #27A9E1; }

/*=============================== End amazing-summer.html ===============================*/
/*=============================== Start testimonial.html ===============================*/
.slider-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 15px 10px;
  color: #fff;
  font-size: 14px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-9 */ }

.testimonial-top {
  background: #FFDE17 url(../images/testimonial/testimonial-bg-01.png) no-repeat left 140px; }
  .testimonial-top:before {
    background: url(../images/testimonial/testimonial-bg-02.png) no-repeat right 200px;
    top: 0;
    left: 0; }
  .testimonial-top h2 {
    color: #F26522; }
  .testimonial-top .btn {
    margin-bottom: 30px; }
  .testimonial-top .box-slider img {
    width: 100%; }
  .testimonial-top .box-slider .box-slider-top {
    background: #F7941E;
    border-radius: 10px;
    padding: 25px 10px;
    color: #fff;
    overflow: hidden;
    margin-bottom: 30px; }
    .testimonial-top .box-slider .box-slider-top img {
      border-radius: 10px; }
  .testimonial-top .box-slider .box-slider-bottom .box-slider-items {
    border: 3px solid  #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden; }
    .testimonial-top .box-slider .box-slider-bottom .box-slider-items:hover {
      border-color: #F7941E;
      cursor: pointer; }
      .testimonial-top .box-slider .box-slider-bottom .box-slider-items:hover .slider-text {
        left: -100%; }
    .testimonial-top .box-slider .box-slider-bottom .box-slider-items img {
      border-radius: 5px; }

.gallery {
  background: #FFDE17 url(../images/testimonial/ILA-footer-bg-01.png) no-repeat left bottom; }
  .gallery:before {
    background: url(../images/testimonial/ILA-footer-bg-03.png) no-repeat right bottom; }
  .gallery h2 {
    color: #F26522; }
  .gallery .box .box-item-right .box-item-child .text-content p {
    color: #050D9E; }
  .gallery .box .box-item-left img {
    border-color: #F7941E; }
  .gallery .seasons {
    position: relative;
    z-index: 2;
    margin-top: 60px; }
    .gallery .seasons h2 {
      color: #fff;
      margin-top: 0; }
    .gallery .seasons .seasons-items .summer {
      position: relative;
      display: block;
      overflow: hidden; }
      .gallery .seasons .seasons-items .summer:hover .slider-text {
        left: -100%; }
    .gallery .seasons .seasons-items .summer.text-right:hover .slider-text {
      left: 100%; }
    .gallery .seasons .seasons-items .summer.text-right .slider-text {
      text-align: right;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
      background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
      /* IE6-9 */ }

/*=============================== End testimonial.html ===============================*/
@media only screen and (max-width: 1050px) {
  /*=========== Start index.html ===========*/
  nav.top-menu .nav li {
    margin-left: 5px; }
    nav.top-menu .nav li a {
      padding: 0 5px; }
  .feeling .box {
    display: block;
    width: calc(100% - 180px);
    padding: 0 15px; }
    .feeling .box .box-item-left {
      margin-bottom: 1em; }
      .feeling .box .box-item-left img {
        width: 100%;
        height: auto; }
    .feeling .box .box-item-right {
      margin-left: 0; }
      .feeling .box .box-item-right .box-item-child .box-child-img {
        width: 300px; }
        .feeling .box .box-item-right .box-item-child .box-child-img img {
          width: 100%;
          height: auto; }
      .feeling .box .box-item-right .box-item-child .text-content {
        width: auto; }
  /*=========== End index.html ===========*/ }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 25px; }
  h2 {
    font-size: 30px;
    margin-bottom: 25px; }
  /*=========== Start index.html ===========*/
  nav.top-menu {
    background: #FFDE17;
    padding: 0; }
    nav.top-menu .navbar-header button.navbar-toggle {
      background: #050D9E; }
      nav.top-menu .navbar-header button.navbar-toggle .icon-bar {
        background: #FFDE17; }
    nav.top-menu .top-logo {
      padding: 15px 5px;
      width: 4em; }
  header.top-header .title-header {
    padding: 15px 0; }
  .wel-come {
    padding-bottom: 0; }
    .wel-come .wel-come-more {
      margin-bottom: 1em; }
      .wel-come .wel-come-more .box {
        border-radius: 25px;
        overflow: hidden; }
    .wel-come .btn {
      margin: 20px 5px 50px; }
  .amazinng {
    padding: 40px 0; }
  .gift {
    text-align: center; }
  .feeling {
    padding: 40px 0; }
    .feeling .box {
      display: block;
      width: 100%; }
      .feeling .box .box-item-right {
        margin-left: 0; }
  .register {
    padding: 30px 0; }
    .register form .form-group {
      margin-bottom: 0;
      margin-top: 0; }
      .register form .form-group input, .register form .form-group select {
        margin-bottom: 15px; }
  /*=========== End index.html ===========*/
  /*=========== Start contact.html ===========*/
  .contact .gift-pack {
    text-align: center; }
  /*=========== End contact.html ===========*/
  /*=========== Start amazinng.html (Amazinng Race) ===========*/
  .amazinng-page-header div {
    text-align: center; }
  .amazinng-page .amazinng-page-box {
    text-align: center; }
    .amazinng-page .amazinng-page-box > div:not(:last-child) {
      margin-bottom: 2em; }
  .ILA-footer div .ILA-footer-item {
    margin-bottom: 1em; }
  /*=========== End amazinng.html (Amazinng Race) ===========*/
  /*=========== Start amazinng-summer.html ===========*/
  .six-skill, .kiddom, .adventures {
    text-align: center; }
    .six-skill .flex-items-end, .kiddom .flex-items-end, .adventures .flex-items-end {
      display: block; }
  .kiddom .flex-items-end div:first-child {
    display: none; }
  .kiddom .flex-items-end div table.happy-kiddom tr {
    margin-bottom: 1em; }
    .kiddom .flex-items-end div table.happy-kiddom tr th, .kiddom .flex-items-end div table.happy-kiddom tr td {
      width: 100%;
      text-align: left; }
    .kiddom .flex-items-end div table.happy-kiddom tr td {
      border-bottom: none; }
      .kiddom .flex-items-end div table.happy-kiddom tr td:before {
        text-align: left;
        width: 120px; }
      .kiddom .flex-items-end div table.happy-kiddom tr td:first-child {
        text-align: center;
        margin-top: 2em; }
        .kiddom .flex-items-end div table.happy-kiddom tr td:first-child:before {
          width: 0; }
  .adventures div .btn {
    margin-top: 20px; }
  /*=========== End amazinng-summer.html ===========*/
  /*=========== Start Testumonial.html ===========*/
  .testimonial-top .box-slider .box-slider-bottom .box-slider-items {
    margin-bottom: 1em; }
  .gallery {
    padding: 20px 0 40px; }
    .gallery .seasons {
      margin-top: 30px; }
  /*=========== End Testumonial.html ===========*/ }

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 16px; }
  h2 {
    font-size: 25px; }
  .xs-hidden {
    display: none; }
  .text-content {
    text-align: justify; }
  .btn {
    width: 100%; }
  /*=========== Start index.html ===========*/
  nav.top-menu .top-logo {
    padding: 5px;
    left: 15px; }
  .wel-come .btn {
    margin: 15px 0; }
    .wel-come .btn:last-child {
      margin-top: 0;
      margin-bottom: 50px; }
  .wel-come .wel-come-more:before {
    top: 20px; }
  .wel-come .wel-come-more .box {
    border-radius: 15px; }
  .feeling {
    padding: 10px 0 20px; }
  /*=========== End index.html ===========*/
  /*=========== Start contact.html ===========*/
  .contact .contact-register {
    padding: 15px;
    border-radius: 15px; }
  /*=========== End contact.html ===========*/
  /*=========== Start amazinng.html (Amazinng Race) ===========*/
  .ILA-footer div .ILA-footer-item .box .btn {
    width: 135px; }
  /*=========== End amazinng.html (Amazinng Race) ===========*/
  /*=========== Start amazinng-summer.html ===========*/
  .amazinng-summer-top div center .btn:first-child {
    margin-bottom: 0; }
  /*=========== End amazinng-summer.html ===========*/
  /*=========== Start Testumonial.html ===========*/
  .testimonial-top .box-slider .box-slider-top {
    padding: 15px 1px; }
  /*=========== End Testumonial.html ===========*/ }

/*# sourceMappingURL=style.css.map */